---
import Layout from '../../layouts/Layout.astro';
import { trpc } from '../../utils/trpc';

console.log("#trpc/index");
//
const hello = await trpc.hello.query();
console.log(hello);	
//const userList = await trpc.getUserList.query();
//console.log(userList);
//
const chartList = await trpc.chart.getList.query();
console.log("#chartList");
console.log(chartList);

---

<Layout title="Welcome to Astro.">
	<main class="container">
		<a href={`/`}>[ Top ]</a>
		<h1>ER Chart</h1>
		<a href={`/chart/create`} class="btn btn-primary">Create</a>
		<hr />
		<ul>
		{
		chartList.map((item) => (
		<li>
			<a href={`/chart/show/${item.id}`}><h3>{item.title}</h3>
			</a>
			<a href={`/chart/edit/${item.id}`}>[edit]</a><br />
			<span>ID: {item.id}, {item.createdAt}</span>
			<hr />
		</li>
		))
		}
		</ul>		
		<!--
		<button id="btn_save" class="btn btn-primary">Add</button>
		 -->
	</main>
</Layout>
<!-- -->
<style>
</style>
<!-- -->
<script src="./Test.ts"></script>
