---
import Layout from '../../layouts/Layout.astro';
import { trpc } from '../../utils/trpc';

console.log("#trpc/index");
//
const hello = await trpc.hello.query();
console.log(hello);	
//const userList = await trpc.getUserList.query();
//console.log(userList);
//
const chartList = await trpc.chart.getList.query();
console.log("#chartList");
console.log(chartList);

---

<Layout title="Welcome to Astro.">
	<main class="container">
		<a href={`/`}>[ Top ]</a>
		<h1>ER Chart</h1>
		<a href={`/chart/create`} class="btn btn-primary">Create</a>
		<hr />
		<div class="row">
			<div class="col-md-12 pt-2">
				<span class="search_key_wrap">
					<input type="text" size="24" class="mx-2 " name="searchKey" id="searchKey"
					placeholder="Title search Key">
				</span>
				<button class="btn btn-sm btn-outline-primary" id="search_btn">Search
				</button>
			</div>
		</div>		
		<hr />
		<ul>
		{
		chartList.map((item) => (
		<li>
			<a href={`/chart/show/${item.id}`}><h3>{item.title}</h3>
			</a>
			<a href={`/chart/edit/${item.id}`} 
			class="btn btn-sm btn-outline-primary">Edit</a><br />
			<span>ID: {item.id}, {item.createdAt}</span>
			<hr />
		</li>
		))
		}
		</ul>		
		<!--
		<button id="btn_save" class="btn btn-primary">Add</button>
		 -->
	</main>
</Layout>
<!-- -->
<style>
</style>
<!-- -->
<script src="./Chart.ts"></script>
